:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f172a;
  color: #f8fafc;
}

/* commit 10 */

/* commit 14 */

/* commit 17 */

/* commit 18 */

/* commit 19 */

/* commit 20 */

/* commit 21 */

/* commit 22 */

/* commit 23 */

/* commit 24 */

/* commit 25 */

/* commit 26 */

/* commit 27 */

/* commit 28 */

/* commit 29 */

/* commit 30 */

/* commit 36 */

/* commit 37 */
